
<style>

@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}

.text_cell_render p.version{
    font-family: 'Alegreya Sans', sans-serif;
    font-style:regular;
    font-weight: 200;
    font-size: 10pt;
    line-height: 100%;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: left;
    text-justify: inter-word;
    display: block;
}

.text_cell_render figure {
    display: table;
    align-self: center;
    width: 500px /* This limite the width of all figures */
}

.text_cell_render div {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.text_cell_render img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-self:center
  }


.text_cell_render p{
    text-align: justify;
    text-justify: inter-word;
    display: block;
}

.text_cell_render h1 {
    font-family: 'Alegreya Sans', sans-serif;
    font-style:regular;
    font-weight: 500;
    font-size: 40pt;
    line-height: 100%;
    color: rgb(12,85,97);
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    display: block;
    page-break-before: always;
    page-break-after: avoid;
    string-set: doctitle content();
}

.text_cell_render h2 {
    font-family: 'Helvetica', serif;
    font-weight: 100;
    font-size: 20pt;
    line-height: 100%;
    color: grey;
    margin-top: 0.1em;
    text-align: left;
    display: block;
    page-break-before: always;
    page-break-after: avoid
}

.text_cell_render h3 {
   font-weight: 500;
   font-family: 'Helvetica', sans-serif;
   color: #355681;
   text-aling: left;
   display: block;
   border-bottom: 1px solid rgba(53,86,129, 0.3);
   page-break-before: always;
   page-break-after: avoid
}


.text_cell_render h4 {
   display: block;
   page-break-before: always;
   page-break-after: avoid;
}

div.caption{
   text-align: center;
   font-style: italic;
   font-size: 0.7em;
   font-weight: lighter;
   border: none;
}


div.question {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
    border-left: 5px solid #dfb5b4;
    padding: 0.5em;
 }

div.text_cell_render {
  font-family: 'Arvo' sans-serif;
  font-size:1.2em;
  line-height:1.2em;
  text-align: justify;
  text-justify: inter-word;
}

div.page-break { display: block; page-break-after: always; }

div a{
    text-decoration: none !important;
}
<\style>
